* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

body {
    background-color: rgb(26, 26, 26);
}

a {
    text-decoration: none;
    color: blueviolet;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: whitesmoke;
    padding: 10px 40px 10px 40px;
    color: rgb(26, 26, 26);
}

header nav a {
    padding-right: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: rgb(26, 26, 26);
    padding: 0px 40px 0px 40px;
    color: whitesmoke;
    font-size: 0.8em;
    border-top: 1px solid;
    border-color: rgb(41, 41, 41);

}

.contenedorArtista {
    color: whitesmoke;
    padding: 40px;
}

.contenedorDesc {
    display: flex;
    background-color: rgb(26, 26, 26);
    height: 50vh;
    padding: 0px 40px 0px 40px;
    font-size: 1.3em;
    align-items: center;
}

.artist-nom {
    padding: 0px 40px 0px 40px;
    margin-bottom: 20px;

}

.artist-nom h3 {
    font-size: 4em;
    color: transparent;
    background: linear-gradient(90deg, rgba(255, 0, 208, 1) 0%, rgba(233, 19, 130, 1) 50%, rgba(255, 0, 63, 1) 100%);
    background-clip: text;
}

.artist-desc {
    width: 50%;
    margin-right: 40px;
}

.artist-desc h2 {
    color: transparent;
    background: linear-gradient(90deg, rgba(0, 255, 134, 1) 0%, rgba(19, 233, 49, 1) 50%, rgba(255, 220, 0, 1) 100%);
    background-clip: text;
}

.artist-nac h4 {
    color: transparent;
    background: linear-gradient(90deg, rgba(255, 0, 208, 1) 0%, rgba(233, 19, 130, 1) 50%, rgba(255, 0, 63, 1) 100%);
    background-clip: text;
}

/*-------------------------------------------*/

.contenedor-tarjeta-artista {
    background-color: rgb(26, 26, 26);
    padding: 40px 40px 40px 40px;
    min-height: 70vh;
}

.artist-tarjeta {
    display: flex;
    justify-content: space-between;
    height: 100px;
    border: 1px solid;
    border-color: rgba(0, 255, 134, 1);
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
}

.artist-tarjeta a {
    display: flex;
    align-items: center;
    border-radius: 30px;
    font-size: 1.5em;
    width: 80%;
    height: 100%;
    padding: 20px;

    color: transparent;
    background: linear-gradient(90deg, rgba(0, 255, 134, 1) 0%, rgba(19, 233, 49, 1) 50%, rgb(94, 255, 0) 100%);
    background-clip: text;

}

#eliminar-btn {
    width: 20%;
    color: rgb(255, 255, 255);
}

#eliminar-btn:hover {
    color: gray;
    background-color: brown;
}



.contenedor-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
}

.form-group label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

form button {
    margin-top: 10px;
    background-color: rgb(87, 85, 231);
    border: 0px solid;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(63, 61, 184);
}

input {
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    width: 100%;
}

form {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.form-tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    min-height: 200px;
    padding: 50px;
    border-radius: 30px;
    margin: 50px;
}

.contenedor-artist-control {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.contenedor-cancion-control {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.contenedor-lista-canciones {
    padding: 40px;
}

.contenedor-cancion {
    display: flex;
    color: whitesmoke;
    padding: 40px;
    justify-content: space-between;
    min-height: 100vh;
}

.contenedor-info {
    width: 50%;
}

.contenedor-letra {
    width: 50%;
    padding-right: 20%;
}

.cancion-nom h1 {
    font-size: 4em;
    color: transparent;
    background: linear-gradient(90deg, rgba(255, 0, 208, 1) 0%, rgba(233, 19, 130, 1) 50%, rgba(255, 0, 63, 1) 100%);
    background-clip: border-box;
    background-clip: text;
}

.cancion-nom h2 {

    font-size: 2em;
    color: whitesmoke;
}


.cancion-info {
    font-size: 2em;
    color: transparent;
    background: linear-gradient(90deg, rgba(0, 255, 134, 1) 0%, rgba(19, 233, 49, 1) 50%, rgba(255, 220, 0, 1) 100%);
    background-clip: border-box;
    background-clip: text;
}

.subtitulo-info {
    color: transparent;
    background: linear-gradient(90deg, rgba(255, 0, 208, 1) 0%, rgb(179, 16, 100) 50%, rgba(255, 0, 63, 1) 100%);
    background-clip: border-box;
    background-clip: text;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

/* Estilos para el encabezado de la tabla */
thead {
    background-color: #333;
    color: #fff;
}

thead tr {
    text-align: left;
}

thead td {
    padding: 10px;
}

/* Estilos para las filas pares */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para las filas impares */
tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:hover {
    background-color: #ddd;
}

/* Estilos para las celdas de la tabla */
td {
    padding: 10px;
}

/* Estilos para los enlaces dentro de las celdas */
td a {
    color: #007BFF;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}